body {
    margin: 0;
}

#site_header { 
    height: 11rem;
    background-image: url(./img/pattern.png);
    background-color: cornflowerblue;
    
}

.logo_header {
    height: 6em;
    margin-top: 5em;
    margin-left: 1em;
}

main{
    margin: 10px;
}

h1 { 
    font-size: 3rem;
    margin-bottom: 0;
}

.riferimenti_scrittore {
    margin-bottom: 1em;
   
}
.info {
    color: grey;
}
.Scrittore {
    color:rgb(17, 137, 211);
}
.data { 
    color: grey;
    font-size: small;
}
.crediti_foto { 
    font-size: small;
    
}
.evidenziato {
    background-color:yellow;
}

.list {
     margin-left: -25px;
}